<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>compruebaformulario</servlet-name>
        <servlet-class>Servlet.compruebaformulario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compruebaFormulario</servlet-name>
        <servlet-class>Servlet.compruebaFormulario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>log</servlet-name>
        <servlet-class>Servlet.log</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>compruebaformulario</servlet-name>
        <url-pattern>/compruebaformulario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compruebaFormulario</servlet-name>
        <url-pattern>/compruebaFormulario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
